<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bubbleAnim_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,917},{84,86}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,94}</string>
			</dict>
			<key>bubbleAnim_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,972},{84,84}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,94}</string>
			</dict>
			<key>bubbleAnim_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,1051},{86,83}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,94}</string>
			</dict>
			<key>bubbleAnim_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,1073},{86,83}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,94}</string>
			</dict>
			<key>bubbleAnim_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,967},{88,82}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,94}</string>
			</dict>
			<key>bubbleAnim_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,1094},{88,80}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,94}</string>
			</dict>
			<key>bubbleAnim_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,1131},{89,80}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,94}</string>
			</dict>
			<key>bubbleAnim_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,1150},{90,79}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,94}</string>
			</dict>
			<key>bubbleAnim_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,1211},{90,78}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,94}</string>
			</dict>
			<key>bubbleAnim_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,1072},{92,78}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,94}</string>
			</dict>
			<key>bubbleAnim_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,1229},{92,76}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,94}</string>
			</dict>
			<key>bubbleAnim_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,1214},{90,78}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,94}</string>
			</dict>
			<key>bubbleAnim_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,1134},{89,80}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,94}</string>
			</dict>
			<key>bubbleAnim_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,1049},{88,82}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,94}</string>
			</dict>
			<key>bubbleAnim_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,889},{86,83}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,94}</string>
			</dict>
			<key>bubbleAnim_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,928},{84,86}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,94}</string>
			</dict>
			<key>bubbleAnim_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,953},{82,87}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,94}</string>
			</dict>
			<key>bubbleAnim_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,1040},{80,88}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,94}</string>
			</dict>
			<key>bubbleAnim_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,1156},{79,90}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,94}</string>
			</dict>
			<key>bubbleAnim_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1753,919},{78,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,94}</string>
			</dict>
			<key>bubbleAnim_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,1014},{76,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,94}</string>
			</dict>
			<key>bubbleAnim_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,1108},{76,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,94}</string>
			</dict>
			<key>bubbleAnim_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{1753,1011},{78,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,94}</string>
			</dict>
			<key>bubbleAnim_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,925},{78,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,94}</string>
			</dict>
			<key>bubbleAnim_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1174},{79,90}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,94}</string>
			</dict>
			<key>bubbleAnim_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{1227,457},{80,90}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,94}</string>
			</dict>
			<key>bubbleAnim_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,1174},{80,88}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,94}</string>
			</dict>
			<key>bubbleAnim_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,1007},{82,87}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,94}</string>
			</dict>
			<key>bubbleAnim_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,1089},{82,87}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,94}</string>
			</dict>
			<key>bubbleAnim_00029.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,1003},{84,86}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,94}</string>
			</dict>
			<key>lineEffect_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,1246},{81,81}}</string>
				<key>offset</key>
				<string>{-222,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{525,182}</string>
			</dict>
			<key>lineEffect_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,364},{235,182}}</string>
				<key>offset</key>
				<string>{-145,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{525,182}</string>
			</dict>
			<key>lineEffect_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,182},{315,182}}</string>
				<key>offset</key>
				<string>{-105,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{525,182}</string>
			</dict>
			<key>lineEffect_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,0},{394,182}}</string>
				<key>offset</key>
				<string>{-65,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{525,182}</string>
			</dict>
			<key>lineEffect_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,0},{474,182}}</string>
				<key>offset</key>
				<string>{-25,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{525,182}</string>
			</dict>
			<key>lineEffect_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{525,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{525,182}</string>
			</dict>
			<key>lineEffect_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,434},{492,113}}</string>
				<key>offset</key>
				<string>{-16,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{525,182}</string>
			</dict>
			<key>lineEffect_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,316},{495,118}}</string>
				<key>offset</key>
				<string>{-15,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{525,182}</string>
			</dict>
			<key>lineEffect_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,311},{496,124}}</string>
				<key>offset</key>
				<string>{-14,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{525,182}</string>
			</dict>
			<key>lineEffect_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,182},{496,129}}</string>
				<key>offset</key>
				<string>{-14,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{525,182}</string>
			</dict>
			<key>lineEffect_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,182},{496,134}}</string>
				<key>offset</key>
				<string>{-14,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{525,182}</string>
			</dict>
			<key>lineEffect_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1393,143},{496,138}}</string>
				<key>offset</key>
				<string>{-14,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{525,182}</string>
			</dict>
			<key>lineEffect_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1393,0},{496,143}}</string>
				<key>offset</key>
				<string>{-14,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{525,182}</string>
			</dict>
			<key>lineEffect_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,641},{464,81}}</string>
				<key>offset</key>
				<string>{-25,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{525,182}</string>
			</dict>
			<key>lineEffect_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,639},{468,87}}</string>
				<key>offset</key>
				<string>{-27,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{525,182}</string>
			</dict>
			<key>lineEffect_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,547},{445,92}}</string>
				<key>offset</key>
				<string>{-17,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{525,182}</string>
			</dict>
			<key>lineEffect_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1383,823},{448,96}}</string>
				<key>offset</key>
				<string>{-18,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{525,182}</string>
			</dict>
			<key>lineEffect_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{1383,723},{451,100}}</string>
				<key>offset</key>
				<string>{-20,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{525,182}</string>
			</dict>
			<key>lineEffect_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{1388,616},{451,107}}</string>
				<key>offset</key>
				<string>{-22,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{525,182}</string>
			</dict>
			<key>lineEffect_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1390,505},{452,111}}</string>
				<key>offset</key>
				<string>{-24,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{525,182}</string>
			</dict>
			<key>lineEffect_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{1392,395},{458,110}}</string>
				<key>offset</key>
				<string>{-25,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{525,182}</string>
			</dict>
			<key>lineEffect_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{1393,281},{461,114}}</string>
				<key>offset</key>
				<string>{-25,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{525,182}</string>
			</dict>
			<key>lineEffect_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,435},{465,102}}</string>
				<key>offset</key>
				<string>{-24,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{525,182}</string>
			</dict>
			<key>lineEffect_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,537},{442,104}}</string>
				<key>offset</key>
				<string>{-35,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{525,182}</string>
			</dict>
			<key>lineEffect_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,722},{325,93}}</string>
				<key>offset</key>
				<string>{-24,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{525,182}</string>
			</dict>
			<key>colEff_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,853},{84,100}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,129}</string>
			</dict>
			<key>colEff_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1299,647},{84,113}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,129}</string>
			</dict>
			<key>colEff_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1299,760},{84,113}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,129}</string>
			</dict>
			<key>colEff_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,839},{84,113}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,129}</string>
			</dict>
			<key>colEff_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,856},{84,113}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,129}</string>
			</dict>
			<key>colEff_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,815},{84,113}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,129}</string>
			</dict>
			<key>colEff_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,856},{84,111}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,129}</string>
			</dict>
			<key>colEff_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,969},{84,103}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,129}</string>
			</dict>
			<key>colEff_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,909},{84,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,129}</string>
			</dict>
			<key>colEff_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1227,364},{80,93}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,129}</string>
			</dict>
			<key>colEff_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,792},{60,64}}</string>
				<key>offset</key>
				<string>{-5,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,129}</string>
			</dict>
			<key>colEff_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{934,537},{56,60}}</string>
				<key>offset</key>
				<string>{0,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,129}</string>
			</dict>
			<key>colEff_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,726},{62,66}}</string>
				<key>offset</key>
				<string>{0,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,129}</string>
			</dict>
			<key>colEff_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,981},{68,73}}</string>
				<key>offset</key>
				<string>{0,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,129}</string>
			</dict>
			<key>colEff_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,1118},{74,79}}</string>
				<key>offset</key>
				<string>{0,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,129}</string>
			</dict>
			<key>colEff_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,1176},{80,86}}</string>
				<key>offset</key>
				<string>{0,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,129}</string>
			</dict>
			<key>colEff_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,815},{70,91}}</string>
				<key>offset</key>
				<string>{-2,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,129}</string>
			</dict>
			<key>colEff_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1264},{74,64}}</string>
				<key>offset</key>
				<string>{-2,-23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,129}</string>
			</dict>
			<key>bombExpl_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,655},{50,55}}</string>
				<key>offset</key>
				<string>{4,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,213}</string>
			</dict>
			<key>bombExpl_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1748,1208},{82,90}}</string>
				<key>offset</key>
				<string>{2,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,213}</string>
			</dict>
			<key>bombExpl_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,726},{108,113}}</string>
				<key>offset</key>
				<string>{3,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,213}</string>
			</dict>
			<key>bombExpl_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1889,151},{130,131}}</string>
				<key>offset</key>
				<string>{4,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,213}</string>
			</dict>
			<key>bombExpl_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1889,0},{148,151}}</string>
				<key>offset</key>
				<string>{3,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,213}</string>
			</dict>
			<key>bombExpl_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1830,1235},{164,163}}</string>
				<key>offset</key>
				<string>{3,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,213}</string>
			</dict>
			<key>bombExpl_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1831,1061},{173,174}}</string>
				<key>offset</key>
				<string>{3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,213}</string>
			</dict>
			<key>bombExpl_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1571,1097},{177,176}}</string>
				<key>offset</key>
				<string>{3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,213}</string>
			</dict>
			<key>bombExpl_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{1571,919},{182,178}}</string>
				<key>offset</key>
				<string>{3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,213}</string>
			</dict>
			<key>bombExpl_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{1383,919},{188,185}}</string>
				<key>offset</key>
				<string>{3,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,213}</string>
			</dict>
			<key>bombExpl_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{1850,481},{195,192}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,213}</string>
			</dict>
			<key>bombExpl_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{1839,673},{203,202}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,213}</string>
			</dict>
			<key>bombExpl_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,546},{203,198}}</string>
				<key>offset</key>
				<string>{3,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,213}</string>
			</dict>
			<key>bombExpl_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{1854,282},{194,199}}</string>
				<key>offset</key>
				<string>{7,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,213}</string>
			</dict>
			<key>bombExpl_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{1831,875},{192,186}}</string>
				<key>offset</key>
				<string>{5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,213}</string>
			</dict>
			<key>bombExpl_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,744},{195,181}}</string>
				<key>offset</key>
				<string>{7,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,213}</string>
			</dict>
			<key>bubbleExpl_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,547},{46,47}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,145}</string>
			</dict>
			<key>bubbleExpl_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,710},{50,52}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,145}</string>
			</dict>
			<key>bubbleExpl_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{934,597},{52,58}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,145}</string>
			</dict>
			<key>bubbleExpl_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,1054},{59,64}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,145}</string>
			</dict>
			<key>bubbleExpl_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,906},{67,75}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,145}</string>
			</dict>
			<key>bubbleExpl_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,1200},{79,84}}</string>
				<key>offset</key>
				<string>{2,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,145}</string>
			</dict>
			<key>bubbleExpl_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,815},{90,94}}</string>
				<key>offset</key>
				<string>{4,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,145}</string>
			</dict>
			<key>bubbleExpl_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,952},{91,99}}</string>
				<key>offset</key>
				<string>{3,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,145}</string>
			</dict>
			<key>bubbleExpl_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,973},{90,99}}</string>
				<key>offset</key>
				<string>{4,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,145}</string>
			</dict>
			<key>bubbleExpl_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,973},{87,100}}</string>
				<key>offset</key>
				<string>{3,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,145}</string>
			</dict>
			<key>bubbleExpl_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1072},{85,102}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,145}</string>
			</dict>
			<key>bubbleExpl_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,815},{84,102}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,145}</string>
			</dict>
			<key>bubbleExpl_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1748,1103},{81,105}}</string>
				<key>offset</key>
				<string>{-3,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,145}</string>
			</dict>
			<key>bubbleExpl_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1307,536},{81,111}}</string>
				<key>offset</key>
				<string>{-5,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,145}</string>
			</dict>
			<key>bubbleExpl_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1307,420},{83,116}}</string>
				<key>offset</key>
				<string>{-6,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,145}</string>
			</dict>
			<key>bubbleExpl_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1307,182},{86,121}}</string>
				<key>offset</key>
				<string>{-6,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,145}</string>
			</dict>
			<key>bubbleExpl_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,762},{90,127}}</string>
				<key>offset</key>
				<string>{-7,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,145}</string>
			</dict>
			<key>bubbleExpl_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,726},{94,130}}</string>
				<key>offset</key>
				<string>{-7,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,145}</string>
			</dict>
			<key>bubbleExpl_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,722},{98,131}}</string>
				<key>offset</key>
				<string>{-7,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,145}</string>
			</dict>
			<key>bubbleExpl_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,726},{100,128}}</string>
				<key>offset</key>
				<string>{-6,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,145}</string>
			</dict>
			<key>bubbleExpl_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{1281,873},{102,130}}</string>
				<key>offset</key>
				<string>{-5,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,145}</string>
			</dict>
			<key>bubbleExpl_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{1177,809},{104,131}}</string>
				<key>offset</key>
				<string>{-4,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,145}</string>
			</dict>
			<key>bubbleExpl_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{1193,547},{106,131}}</string>
				<key>offset</key>
				<string>{-3,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,145}</string>
			</dict>
			<key>bubbleExpl_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{1193,678},{106,131}}</string>
				<key>offset</key>
				<string>{-1,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,145}</string>
			</dict>
			<key>bubbleExpl_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,726},{100,127}}</string>
				<key>offset</key>
				<string>{-2,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,145}</string>
			</dict>
			<key>bubbleExpl_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,853},{97,120}}</string>
				<key>offset</key>
				<string>{-2,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,145}</string>
			</dict>
			<key>bubbleExpl_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,854},{91,119}}</string>
				<key>offset</key>
				<string>{-1,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,145}</string>
			</dict>
			<key>bubbleExpl_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{1307,303},{85,117}}</string>
				<key>offset</key>
				<string>{0,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,145}</string>
			</dict>
			<key>bubbleExpl_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{1038,925},{76,43}}</string>
				<key>offset</key>
				<string>{4,-51}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,145}</string>
			</dict>
			<key>bubbleExpl_00029.png</key>
			<dict>
				<key>frame</key>
				<string>{{2019,151},{12,8}}</string>
				<key>offset</key>
				<string>{33,-67}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,145}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>anims1.png</string>
			<key>realTextureFileName</key>
			<string>anims1.png</string>
			<key>size</key>
			<string>{2048,1398}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1398</integer>
		</dict>
	</dict>
</plist>